@import url('./reset.css');

@keyframes titleOpen{
    from {
        height:0px;
    }
    to {
        height: 30vh;
    }
}

@keyframes walking {
    0% {
        background: url("../photo/walking2.png") no-repeat left 1.4px;
        background-size:15px 18px;
    }
    50% {
        background: url("../photo/walking1.png") no-repeat left 1.4px;
        background-size:15px 18px;
    }
    100% {
        background: url("../photo/walking2.png") no-repeat left 1.4px;
        background-size:15px 18px;
    }
}
header {
    background: url('../photo/headerImg.jpg') no-repeat, #819bb2;
    background-size: 30vh;
    height: 30vh;
    text-align:center;
}

.wholeBody{
    margin:10px 250px;

}

footer{
    background-color:#fbfbfb;
    text-align:right;
    padding:20px;
}

.title {
    display: inline-block;
    color: #fff;
    font-size: 5vh;
    margin-top: 10vh;
}

ul > li {
    margin:10px 0px;
    background: url("../photo/standing.png") no-repeat left 1.4px;
    background-size:15px 18px;
    padding-left: 1em;
}

.TIL-index-link {
    color:#000;
    font-size:20px;
    text-decoration: none;
}

.TIL-index-link:hover {
    text-decoration: underline;
}

.TILIndex:hover{
    animation: walking 1s linear infinite
}




